*.egg-info/
**/__pycache__/
*.pyc

# Haskell
haskell_exp/dist/
haskell_exp/dist-newstyle/

# Generated protobuf code
src/transactflow/proto_gen/transactflow_pb2.py
src/transactflow/proto_gen/transactflow_pb2.pyi
haskell_exp/gen/

# Frontend build artifacts
src/transactflow/web/dist/
src/transactflow/web/node_modules/
